.line {
    @apply flex items-center m-2;

    @if ($rounded-lines) {
        @apply rounded;
    }

    height: $line-height+6;
    background-color: $line-color;
}

.line-fullheight {
    height: calc(100% - 16px);
}

.line-name {
    @apply text-base flex-grow truncate;
    height: $line-height;
    line-height: $line-height;
}

.line-buttons {
    @apply mr-2 flex-shrink-0;
    height: $line-height;
}

.line-badges {
    @apply mr-2 flex-shrink-0;
    // height: $lineheight;
}

.line-icon {
    @apply text-4xl pl-2 flex-auto;
    height: $line-height;
    line-height: $line-height;
    max-width: 55px;
    margin-right: 10px;
}

[data-visible='false'] {
    display: none;
}

[data-color='red'] {
    @apply bg-red-600;
}

[data-color='green'] {
    @apply bg-green-600;
}

[data-color='blue'] {
    @apply bg-blue-600;
}
