body{
    @apply  font-sans leading-normal tracking-normal text-white flex flex-col min-h-screen ;
    background-color: $body-background-color;
    color: $body-text-color;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    touch-action: manipulation;
}

footer{
    min-height: 50px;
    background-color: $footer-background-color;
}

.components{
    @apply grid grid-cols-1;
    @screen lg {
        @apply grid-cols-2;
    }
    @screen xl {
        @apply grid-cols-3;
    }
}

*[data-visible="false"] {
    display: none;
}
