//Header Body Footer
$header-background-color: #667eea;
$clock-background-color: #4a5568;

$body-background-color: #2d3748;
$body-text-color: #ffffff;

$footer-background-color: #667eea;

// Nav
$nav-button-background-color: #536fd6;

// Lines
$rounded-lines: true;
$line-height: 50px;
$line-color: #4a5568;

// Buttons
$rounded-buttons: true;
$button-color: #4a5568; //Standard button color
$button-off-color: #e53e3e;
$button-on-color: #38a169;
$button-more-color: #579fd1;

// Modals
$modal-background-color: #2d3748;
$rounded-modal: true;
$rounded-modal-header: true;
